h1, h2 {
    color: red;
    }
    p {
    color: gray;
    }
    ul {
    border: 2px solid blue;
    }
    ol {
    border: 2px solid purple;
    }
    ol, ul {
    padding: 20px 40px;
    border-radius: 410px;
    }
    h1, strong {
    color: limegreen;
    }
    em {
    color: limegreen;
    }